.list {
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    color: #302116;
    text-align: start;
    height: 100%;
}

.list h2 {
    background-color: rgb(232, 228, 208, 0.4);
    width: 300px;
}

.list h2:hover {
    background-color: #302116;
    color: rgb(232, 228, 208, 0.4);
}


.list span {
    text-align: justify;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(232, 228, 208, 0.4);
}

.list span:hover {
    background-color: #302116;
    color: rgb(232, 228, 208, 0.4);
}




.list img {
  width: 90px;
  height: 90px;
}

.list img:nth-child(2) {
    width: 20px;
    height: 17px;
}


.card {
    margin-right:  2.5em;
    text-align: justify;
    align-items: center;
    padding-top: 10px;
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card p {
    margin: 0;
}

.card a {
    margin-top: 5px;
    text-decoration: none;
    width: auto;
}

.card h4 {
    margin-top: 5px;
    background-color:#302116;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    width: auto;
}

.card button {
    margin: 15px auto;
    background-color: #302116;
    text-align: center;
    align-items: center;
}



.card.card-img-top {
    align-items: center;
    text-align: center;

}

@media only screen and (max-width: 613px) {

.list {
        margin: 15px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: #302116;
        text-align: start;
        height: 100%;
    }

    .card {
        margin: 15px auto;
    }

    
}